h1 {
    font-family: Avantgarde;
    font-family: TeX Gyre Adventor;
    font-family: URW Gothic L;
    font-family: sans-serif;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}